* { margin:0; padding:0 }

body {
    background-color:rgb(34, 34, 34);
}

.main {
    background-color:rgb(205,197,180);
    height:90vh;
    margin-top:5vh;
    overflow:auto;
}

#rectdisplay {
    background-color:white;
    height:76%;
    margin-left:5%;
    margin-right:5%;
    overflow:auto;
}

table, th, td {
    border:1px solid rgb(219,224,225);
    border-collapse: collapse;
    text-align:left;
    font-size:110%;
}

table {
    margin-left:2%;
    margin-right:2%;
    width:96%;
}

th {
    padding:2px;
    background-color:#dddddd;
    width:20%;
    height:20px;
}

td {
    padding:4px;
    padding-top:6px;
    padding-bottom:6px;
    width:20%;
    height:30px;
}

.editBtns {
    padding:0;
    text-align:center;
}

#alertMSG {
    text-align:center;
    height:80%;
    margin-top:20%;
    margin-bottom:10%;
    font-family:Monaco,monospace;
    font-size:300%;
    color:rgb(34, 34, 34);
}

.okButton {
    height:2em;
    width:3em;
    font-size:50%;
    background-color:rgb(145, 251, 255);
    border-width:1px;
    border-radius:10%;
}

#newRectButton {
    height:3.6em;
    width:12em;
    font-size:100%;
    background-color:rgb(145, 251, 255);
    border-width:1px;
}