<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Rectangle</title>
        <link rel="stylesheet" href="../../stylesheets/rectstyles.css">
    </head>
    <body>
        <div class="main">
            <h1 style="text-align:center;
            font-family:Arial, Verdana, sans-serif;
            margin-top:2%;
            margin-bottom:1%;
            font-size:250%;">
            Add a new rectangle!
            </h1>
            <div style="margin-top:2%">
                <form style="margin-left:5%" action="/rectAdded" method="post">
                    <ul>
                        <li>
                            Name:
                            <input type="text" name="newRectName" required>
                            (NO spaces allowed in the name, and names should be unique!)
                        </li>
                        <li>
                            Width:
                            <input type="text" name="newRectWidth" required>
                        </li>
                        <li>
                            Height:
                            <input type="text" name="newRectHeight" required>
                        </li>
                        <li>
                            Color:
                            <input list="rectColor" name="newRectColor" required>
                            <datalist id="rectColor">
                                <option value="red">
                                <option value="blue">
                                <option value="brown">
                                <option value="white">
                                <option value="aqua">
                                <option value="aquamarine">
                                <option value="green">
                                <option value="lime">
                                <option value="cyan">
                                <option value="crimson">
                                <option value="purple">
                                <option value="pink">
                                <option value="magenta">
                            </datalist>
                            (to view all options, clear the entry, then open the dropdown menu.)
                        </li>
                    </ul>
                    <input type="submit" value="Add Rectangle">
                </form>
                <form style="margin-left:5%" action="/rectangleDB">
                    <input type="submit" value="Cancel and Return">
                </form>
            </div>
        </div>
    </body>
</html>