<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editing Rectangle</title>
        <link rel="stylesheet" href="../../stylesheets/rectstyles.css">
    </head>
    <body>
        <div class="main">
            <h1 style="text-align:center;
            font-family:Arial, Verdana, sans-serif;
            margin-top:2%;
            margin-bottom:1%;
            font-size:250%;">
            <%= rData[0].name %>
            </h1>
            <div style="background-color:<%= rData[0].color %>;
                width:<%= rData[0].width %>px;
                height:<%= rData[0].height %>px;
                margin:auto">
            </div>
            <div style="margin-top:2%">
                <form style="margin-left:5%" action="/applyEdit" method="post">
                    <ul>
                        <li>
                            Name:
                            <input type="text" name="newRectName" value=<%= rData[0].name %> required>
                            (NO spaces allowed in the name, and names should be unique!)
                        </li>
                        <li>
                            Width:
                            <input type="text" name="newRectWidth" value=<%= rData[0].width %> required>
                        </li>
                        <li>
                            Height:
                            <input type="text" name="newRectHeight" value=<%= rData[0].height %> required>
                        </li>
                        <li>
                            Color:
                            <input list="rectColor" name="newRectColor" value=<%= rData[0].color %> required>
                            <datalist id="rectColor">
                                <option value="red">
                                <option value="blue">
                                <option value="brown">
                                <option value="white">
                                <option value="aqua">
                                <option value="aquamarine">
                                <option value="green">
                                <option value="lime">
                                <option value="cyan">
                                <option value="crimson">
                                <option value="purple">
                                <option value="pink">
                                <option value="magenta">
                            </datalist>
                            (to view all options, clear the entry, then open the dropdown menu.)
                        </li>
                    </ul>
                    <input type="hidden" name="prevName" value=<%= rData[0].name %>>
                    <input type="submit" value="Apply Changes">
                </form>
                <form style="margin-left:5%" action="/rectDelete" method="post">
                    <input type="hidden" name="delName" value=<%= rData[0].name %>>
                    <input type="submit" value="Delete Rectangle">
                </form>
                <form style="margin-left:5%" action="/rectangleDB">
                    <input type="submit" value="Cancel and Return">
                </form>
            </div>
        </div>
    </body>
</html>