<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Adding Rectangle</title>
        <link rel="stylesheet" href="../../stylesheets/rectstyles.css">
    </head>
    <body>
        <div class="main">
            <div id="alertMSG">
                The rectangle has been successfully added!
                <form action="/rectangleDB">
                    <input type="submit" value="OK!" class="okButton">
                </form>
            </div>
        </div>
    </body>
</html>