<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RectangleDatabase</title>
        <link rel="stylesheet" href="../../stylesheets/rectstyles.css">
    </head>
    <body>
        <div class="main">
            <h1 style="text-align:center;
            font-family:Arial, Verdana, sans-serif;
            margin-top:2%;
            margin-bottom:1%;
            font-size:250%;">
            The Rectangle Database
            </h1>

            <h3 style="text-align:center;
            font-family:Arial, Verdana, sans-serif;
            margin-bottom:1%;">
            to suit all of your rectangle needs!
            </h3>
            <div id="rectdisplay">
                <table>
                    <tr>
                        <th>Rectangle Name</th> <th>Color</th> <th>Edit</th>
                    </tr>
                    <% rows.forEach(function(r) { %>
                      <tr>
                        <td><%= r.name %></td> <td><%= r.color %></td>
                        <td class="editBtns">
                          <form action="/rectEdit" method="post">
                            <input type="hidden" name="rectName" value="<%= r.name %>">
                            <input type="submit" value="View/Edit Rectangle Properties" style="font-size:100%;
                            width:90%;
                            height:2em;
                            background-color:rgb(223, 234, 235);
                            border-width:1px;
                            border-radius:5;"> 
                          </form>
                        </td>
                      </tr>
                    <% }) %>
                </table>
            </div>
            <form action="/rectNew" style="text-align:center">
              <input type="submit" value="Add New Rectangle" id="newRectButton">
            </form>
        </div>
    </body>
</html>
